@font-face {
    font-family: 'Endzone-Medium';
    src: url('./fonts/EndzoneSans-Medium.eot');
    src: url('./fonts/EndzoneSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/EndzoneSans-Medium.woff2') format('woff2'),
        url('./fonts/EndzoneSans-Medium.woff') format('woff'),
        url('./fonts/EndzoneSans-Medium.ttf') format('truetype'),
        url('./fonts/EndzoneSans-Medium.svg#EndzoneSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}